.book_cover {
    /*border: 3px solid #73AD21;*/
    width: 150px;
    position: relative;
    height: 226px;
}
.book {
    width: 150px;
    text-align: center;
    margin: 5%;
    float: left;

}

.books_list {
    /*display: inline-flex;*/
}

.book_cover .book_information {
    opacity: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    height:226px;
    width: 150px;
    top: 0;
    left: 0;
    color: whitesmoke;
    background: #3e3d3d;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
}

.book_information_text {
    margin: 5px;
    align-self: center;
}
.book_cover:hover .book_information {
    opacity: 0.9;
}

.main_information {
    margin-top: -10%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.title {
    font-weight: bold;
}
.voting {
    margin-top: 5px;
}

.add_book {
    margin: 2% 2% 2% 5%;
}
.login {
    margin-left: 5%;
}