<!DOCTYPE html>
<html lang="en" ng-app="bookApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script src="static/js/angular.min.js"> </script>
    <script src="static/js/bookApp.js"> </script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.leanModal.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>

    <div ng-controller="ShowLoginController">
        <h3 class="login" ng-show="isLogin()">Hello, {{data.login}}!</h3>
        <button class="btn btn-primary login" ng-show="!isLogin()" ng-click="toggleModal()">Login</button>
        <h2 class="login" ng-show="!isLogin()">Список книг доступен только залогиненному пользователю</h2>
  <modal title="Login form" visible="showLoginModal">

      <div ng-show="wrongLogin" class="alert alert-danger">
            <a href="#" class="close" ng-click="closeWarning()">&times;</a>
            Неверное имя пользователя или пароль!
      </div>

    <form role="form" ng-submit="auth()">
      <div class="form-group">
        <label for="login">User login</label>
        <input type="text" class="form-control" ng-model="user.login" id="login" placeholder="Enter login"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password"/>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </modal>
    </div>

    <div ng-controller="PopupController">
        <button class="btn btn-primary add_book" ng-show="isLogin()" ng-click="toggleModal()">Добавить книгу на голосование</button>
        <modal visible="showModal">
            <div ng-show="errorMessage" class="alert alert-danger">
            <a href="#" class="close" ng-click="closeWarning()">&times;</a>
                {{ errorMessage }}
            </div>
            <form role="form" ng-submit="submit()">
                <div class="form-group">
                    <label for="bookTitle">Название книги</label>
                    <input type="text" name="bookTitle" ng-model="book.title" class="form-control" id="bookTitle" placeholder="Название">
                </div>
                <div class="form-group">
                    <label for="bookAuthor">Автор книги</label>
                    <input type="text" name="bookAuthor" ng-model="book.author" class="form-control" id="bookAuthor" placeholder="Автор">
                </div>
                <div class="form-group">
                    <label for="bookISBN">ISBN книги</label>
                    <input type="text" name="bookISBN" ng-model="book.isbn" class="form-control" id="bookISBN" placeholder="ISBN">
                </div>
                <div class="form-group">
                    <label for="bookPages">Количество страниц</label>
                    <input type="number" name="bookPages"  ng-model="book.pages" class="form-control" id="bookPages" placeholder="Количество страниц">
                </div>
                <div class="form-group">
                    <label for="bookYear">Год издания</label>
                    <input type="number" name="bookYear" ng-model="book.year" class="form-control" id="bookYear" placeholder="Год">
                </div>
                <div class="form-group">
                    <label for="bookCover">File input</label>
                    <input type="file" name="bookCover" file-model="formFile" id="bookCover">
                    <p class="help-block">Example block-level help text here.</p>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </modal>
    </div>



    <div class="books_list" ng-controller="BookController as bookList">
        <div class="book" ng-repeat="book in books">

            <div class="book">
                <div class="book_cover">
                    <img src="{{ 'static/img/cover_' + book.id + '.jpg' }}" class="img-thumbnail">
                    <span class="book_information">
                        <div class="book_information_text">
                            <div>Год: {{ book.year }} </div>
                            <div>Количество страниц: {{ book.pages }}</div>
                            <div>ISBN: {{ book.isbn }} </div>
                        </div>
                    </span>

                </div>
                <br>
                <div class="main_information">
                    <p class="title"> {{ book.title }}</p>
                    <p class="author">{{ book.author }}</p>
                </div>
                <div class="voting">
                    <p>Рейтинг: {{ book.score }}</p>
                    <button class="btn btn-success btn-sm" ng-click="add_vote(book.id)" ng-show="{{ book.voting_is_open && !book.voted }}">Голосовать</button>
                    <button class="btn btn-warning btn-sm" ng-click="delete_vote(book.id)" ng-show="{{ book.voting_is_open && book.voted }}">Убрать голос</button>
                    <p ng-show="{{ !book.voting_is_open }}">Голосование закрыто</p>

                </div>

            </div>

         </div>



    </div>

</body>
</html>